@import "../../styles/mixins";
@import "../../styles/values";

.p-recipes {
	&-nav {
		@include navbar;
		@include gel-button;
		align-items: flex-start;

		@include mobile {
			align-items: center;
		}

		a {
			@include gel-button($active-border: inset);
			padding: 8px 16px;
		}
	}

	&-list {
		display: inline-block;
		text-align: left;

		ul {
			padding: 0;
			margin: 0;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-grow: 1;
			align-content: space-between;
			justify-content: center;

			a {
				display: flex;
				flex-grow: 1;

				li {
					display: flex;
					flex-grow: 1;
					text-align: center;
					padding: 16px 32px;
					@include gel-button($active-border: inset);
				}
			}
		}
	}

	&-detail {
		&-intro {
			@include gel-button;
			padding: 24px 16px;
			margin-bottom: 24px;

			h4 {
				padding: 0;
			}

			h6 {
				padding: 8px 0 0;
			}
		}

		&-steps {
			display: inline-block;
			text-align: left;

			>ol {
				width: 100%;
				padding: 0;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				gap: 16px;

				>li {
					width: 100%;
					display: flex;
					list-style-type: none;

					@include desktop {
						width: 50%;
						width: calc(50% - 8px);
					}
				}
			}

			div {
				img {
					max-width: 360px;
				}
			}
		}
	}
}
