@import "../../styles/mixins";
@import "../../styles/values";

.p-recipes {
	&-nav {
		@include navbar;
		@include gel-button;
		align-items: flex-start;

		@include mobile {
			align-items: center;
		}

		a {
			@include gel-button($active-border: inset);
			padding: 8px 16px;
		}
	}

	&-list {
		display: inline-block;
		text-align: left;

		ul {
			padding: 0;
			margin: 0;

			li {
				padding: 16px 32px;
				@include gel-button($active-border: inset);
			}
		}
	}

	&-detail {
		&-intro {
			@include gel-button;
			padding: 24px 16px;
			margin-bottom: 24px;

			h6 {
				padding: 0;
			}
		}

		&-steps {
			display: inline-block;
			text-align: left;

			>ol {
				width: 100%;
				padding: 0;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;

				>li {
					width: 100%;
					@include desktop {
						width: 50%;
					}
					display: flex;
					list-style-type: none;
				}
			}

			div {
				img {
					max-width: 360px;
				}
			}
		}
	}
}
