@import "../../styles/mixins";

.p-recipes {
	&-nav {
		@include navbar;
		@include gel-button;
		align-items: flex-start;

		@include mobile {
			align-items: center;
		}

		a {
			@include gel-button($active-border: inset);
			padding: 8px 16px;
		}
	}

	&-list {
		display: inline-block;
		text-align: left;

	}

	&-detail {
		&-steps {
			display: inline-block;
			text-align: left;
		}
	}
}
