@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/values";

.p-qr-code {
	> div {
		width: 100%;
		gap: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 16px;

		span {
			display: inline-block;
		}

		.use-lowest-version {
			cursor: pointer;
			@include gel-button($gb-bg-color: $scoreboard-bg, $gb-border: $scoreboard-line, $active-border: inset);
			border-width: 3px;
			padding: 3px;

			.checkbox {
				height: 18px;
				width: 18px;
				border: 1px solid orange;
				border-radius: 4px;
				margin-right: 3px;

				div {
					display: flex;
					justify-content: center;
					align-content: center;
					flex-wrap: wrap;
					height: 100%;
				}
			}
		}
	}

	.button {
		@include gel-button($active-border: inset);
		display: inline-block;
		width: auto;
		padding: 4px 12px;
		margin: 0 auto 8px;
	}

	.qr-code {
		canvas {
			max-width: 100%;
			// make sure height is same as width by subtracting the page padding
			max-height: calc(100vw - $page-padding);
		}
	}
}
