@import "../../styles/mixins";
@import "../../styles/colors";

.c-recipes-detail-step {
	@include gel-button;
	padding: 24px 0;
	width: 100%;
	justify-content: flex-start;

	h5 {
		text-align: center;
		width: 100%;
		border-bottom: 5px outset $bg-color1;
		padding-bottom: 16px;
	}

	>ol {
		margin: 0;
		padding-top: 16px;
		border-top: 5px outset $bg-color1;

		>li {
			margin: 0;
			padding: 0;
			list-style-type: upper-roman;

			&:last-of-type {
				p {
					padding: 0;
				}
			}
		}
	}
}
