@import "../../styles/values";
@import "../../styles/mixins";

.c-header {
  @include gel-button;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: $z-header;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  .nav-link {
    @include gel-button($active-border: inset);
    height: calc($nav-height / 1.382);
    font-size: 18px;
    color: $nav-link;
    font-family: 'Syne Mono', 'Courier New', Courier, monospace;

    .title {
      padding: 0 4px;
    }

    &::after {
      content: attr(data-title);
      font-weight: 900;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    &.active {
      font-weight: 900;
      border-color: $active-border;
      transition: border-color 0.382s;
    }

    &:active {
      border-color: $active-border;
      transition: border-color 0.382s;
    }

    @include tablet {
      font-size: 28px;
      line-height: 23px;
      height: auto;
      width: 100%;
      max-width: calc($nav-mobile-width / 1.618);

      .title {
        padding: 16px 4px;
      }
    }
  }

  .languages {
    display: flex;
    gap: 8px;

    .flag {
      @include gel-button($active-border: inset);
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      @include click;

      &:active {
        border-color: $active-border;
      }

      &.selected {
        border-color: $active-border;
      }

      img {
        vertical-align: middle;
        width: 56px;
        position: relative;
      }
    }
  }

  .dropdown {
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  .nav-accordion {
    overflow: hidden;
    position: relative;
    width: 100%;

    // margin-top done with JS in component
    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 8px;
      transition: margin-top 0.618s;
      box-sizing: border-box;
      padding: 12px 4px;
      background-color: $sub-bg-color1;

      .nav-link {
        font-size: 20px;
        width: auto;
        font-weight: initial;

        &.active {
          font-weight: 900;
        }

        .title {
          padding: 8px 4px;
        }
      }
    }
  }

  &-nav {
    @include navbar;
    top: 0;
    left: 0;
    z-index: $z-header;
    background-color: $bg-block2;
    background: linear-gradient(to right, $bg-block1, $bg-block2);
    overflow: hidden;

    &-title {
      font-family: 'Syne Mono', 'Courier New', Courier, monospace;
      font-weight: 700;
      max-height: $nav-height;
      overflow: hidden;
      color: $nav-link;
      font-size: 48px;

      &::after {
        content: "_";
        @keyframes flash {
          0%, 50% {
            color: $nav-link;
          }
          50.1%, 100% {
            color: transparent;
          }
        }
        animation: flash 1.618s linear infinite;
      }

      @include tablet {
        font-size: 48px;
      }

      @include mobile {
        font-size: 30px;
      }
    }

    &-mobile {
      font-size: 0;

      @include desktop {
        display: none;
      }

      &-background {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: $z-header-menu - 1;
        background-color: rgba(60, 179, 114, 0.382);
        backdrop-filter: blur(3px);
        transition: opacity 0.618s;

        &.is-open {
          opacity: 1;
        }
        &.is-closed {
          visibility: hidden;
          opacity: 0;

          @keyframes close { 0% { visibility: visible; } 100% { visibility: hidden; } }
          animation: close 0.618s ease-in-out;

          @include mobile {
            animation-duration: 0.382s;
            transition-duration: 0.382s;
          }
        }
      }

      &-links {
        @include gel-button;

        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        max-width: $nav-mobile-width;
        width: 100%;
        height: 100vh;
        padding: $nav-height 8px;
        background: linear-gradient(to right, $bg-block1, $bg-block2);
        transform: translateX(Max(100%, $nav-mobile-width));
        transition: 0.618s transform ease-in-out;
        z-index: $z-header-menu;
        overflow-y: auto;

        &.is-open {
          transform: translateX(0);
        }
      }

      .menu {
        display: inline-block;
        text-align: center;
        z-index: $z-header-menu-button;
        @include click;

        &-icon {
          height: 32px;
          width: 32px;
          position: relative;
          z-index: $z-header-menu-button;

          &-line {
            width: 32px;
            height: 4px;
            background-color: $nav-link;
            border-radius: 4px;
            position: absolute;

            &.top {
              top: 5px;
              transition: transform 0.618s, top 0.618s;
            }

            &.mid {
              top: 14px;
              left: 0;
              transition: transform 0.618s, top 0.618s, width 0.618s, left 0.618s;
            }

            &.bot {
              top: 23px;
              transition: transform 0.618s, top 0.618s;
            }
          }

          &.is-open {
            .menu-icon-line {
              &.top {
                top: 14px;
                transform: rotate(135deg);
              }

              &.mid {
                width: 0;
                left: 16px;
                transform: rotate(360deg);
              }

              &.bot {
                top: 14px;
                transform: rotate(-135deg);
              }
            }
          }
        }
      }
    }

    &-desktop {
      display: flex;
      align-items: center;
      margin-right: 0;
      height: 100%;
      gap: 4px;

      @include tablet {
        display: none;
      }
    }
  }

  &-subheader {
    &-desktop {
      position: fixed;
      @include navbar;
      z-index: $z-subheader;
      background-color: $sub-bg-color2;
      background: linear-gradient(to right, $sub-bg-color1, $sub-bg-color2);
      margin-top: -$nav-height;
      transition: margin-top 0.618s ease-in-out;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &.is-open {
        margin-top: 0;
      }

      @include tablet {
        display: none;
      }
    }
  }
}
